<div class="tasks-container">
	<div class="section-title">Tasks</div>

	<div class="selector-container">
		<app-task *ngFor="let task of this.tasks" [task]="task"></app-task>
	</div>

	<div class="space"></div>

	<form (ngSubmit)="addTask()" #taskForm="ngForm">
		<div class="new-task-form">
			<input [(ngModel)]="model.name" class="task-name-input" name="taskName" placeholder="new task..." required/>
			<button type="submit" class="small-button" [disabled]="taskForm.invalid">+</button>
		</div>
	</form>

</div>