<div id="session-container">
	<h2 id="timer-label">Clock</h2>
	<div id="type-title-label">
		<span *ngIf="type === 'break'">Break Time</span>
		<span *ngIf="type === 'session'">Session Time</span>
	</div>
	<div id="time-left">
		<span>{{minutes | timerDisplay}}</span>:<span>{{seconds | timerDisplay}}</span>
	</div>
</div>

<div id="controls-container">
	<button id="start-btn" *ngIf="state === 'stop'" (click)="changeState('start')">Start</button>
	<button id="stop-btn" *ngIf="state === 'start'" (click)="changeState('stop')">Pause</button>
	<button id="skip" (click)="skipTimer()">Skip</button>
	<button id="reset" (click)="resetTimer()">Reset</button>
</div>
  